/* Colors */
$main: #33c3F0;
$secondary: #741d51;
$tertiary: #e44e52;

$white: #fff;
$grey: #f2f2f2;

/* Fonts */
$main-font: 'Raleway', sans-serif;

/* Media queries vars */
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;